venv/
VENV/
*.pyc
__pycache__/
.env
*.sqlite3
node_modules/
newman/
cypress/videos/
cypress/screenshots/
venv/
VENV/
*.pyc
__pycache__/
.env
*.sqlite3
node_modules/
newman/
cypress/videos/
cypress/screenshots/